
version: '3.8'
services:
  db:
    image: postgis/postgis:15-3.3
    container_name: siscqt-postgis
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: siscqt_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
